* {	margin: 0; padding: 0; border: 0; }

/* Loading block starts */
.loading-block { text-align: center; }
.loading-img { display: inline-block; width: 800px; }
.loading {
	display: inline-block;
	border: 5px solid #DCDCDC;
	border-top: 5px solid #31487D;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@media screen and (max-width: 800px) { .loading-img { width: 100%; } }
/* Loading block ends */

/* Main block starts */
.main-block { display: none; text-align: center; }
.main-body { width: 1000px; display: inline-block; text-align: left; }

.header-container { width: 100%; height: 250px; }
.header { width: 100%; height: 100%; }

.header-of-header-back {
	background-color: #606060;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: -1;	
	height: 35px;	
}
.header-of-header-container {
	text-align: center;
	height: 35px;
	width: 100%;
}
.header-of-header {
	width: 100%;
	height: 100%;	
	display: inline-block;
}
.header-phone {
	position: relative;
	float: right;
	margin-right: 20px;
}
.header-phone-no {
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
	font-size: 92%;
	color: #FFFFFF;
	float: left;
}
.header-phone-img {
	height: 18px;
	float: left;
	margin : 7px;
}
.header-login {
	position: relative;
	float: right;
	margin-right: 30px;
}
.header-login-link {
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
	font-size: 92%;
	color: #FFFFFF;
	float: left;
}
.header-login-img {
	height: 18px;
	float: left;
	margin : 7px;
}

.logo-name-container { width: 100%; float: left; }
.logo-name { width: 500px; margin: 15px; margin-top: 42px; margin-bottom: 47px; }

.nav-bar-container { width: 100%; height: 100%; }
.nav-bar { width: 100%; height: 100%; }
.nav-bar-list {	list-style-type: none; }
.nav-bar-links {
	text-decoration: none;
	color: #2E2E2E;
	font-size: 90%;
	float: left;
	font-weight: 400;
	letter-spacing: 0.6px;
	font-family: 'Roboto', sans-serif;
	padding: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

.mob-nav-bar-container { z-index: 4; position: relative; display: none;	}
.mob-nav-bar-icon {	
	float: right; 
	margin:5px;
	padding: 5px;
	background-color: #C4C4C4;	 
}
.mob-nav-bar-lines {	
	position: relative;
	margin: 3px;
	width: 20px;
	height: 3px;
	background-color: #000000;	
}
.mob-nav-bar-cross {	
	float: right; 
	margin:5px;
	padding: 5px;
	background-color: #C4C4C4;
	display: none;
}
.mob-nav-bar-x {	
	position: relative;
	font-family: 'Syncopate', sans-serif;
	font-weight: 700;
	font-size: 128%;
	color: #000000;	
	margin-left: 4px;
	margin-right: 4px;

}
.mob-nav-bar-items {
	background-color: #DEDEDE;
	position: absolute;
	width: 70%;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 205px;
	padding: 5%;
	display: none;
}
.mob-nav-bar-list {
	position: relative;
	list-style-type: none;
}
.mob-nav-bar-list-items {	
	padding: 0;	
}
.mob-nav-bar-links {
	text-decoration: none;
	color: #2E2E2E;
	font-size: 85%;
	font-weight: 400;
	letter-spacing: 0.6px;
	font-family: 'Roboto', sans-serif;
	line-height: 50px;	
}

.img-slider-container { width: 100%; height: 400px; }
.img-slider { width: 100%; height: 100%; }
.img-back {
	background-color: #EAEAEA;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: -1;	
	height: 400px;
}
.img-slider-imgs {
	width: 1000px;
	height: 400px;
	position: absolute;
	opacity: 100%;	
}
.img-slider-arrows {
	z-index: 3;
	background-color: black;
	color: white;
	font-size: 150%;
	padding: 15px;
	position: relative;
	top: 180px;
	opacity: 0;
}
#img-slider-arrow-left { float: left; }
#img-slider-arrow-right { float: right; }
#img-slider-cover {
	z-index: 2;	
	height: 100%;
	width: 100%;	
	position: relative;
}

.nav-line { width: 100%; height: 10px; }

.footer-container { height: 300px; }
.footer-list { list-style-type: none; padding: 10px; padding-top: 20px; }
.footer-list-item {	float: left; color: #FFFFFF; padding: 6px; }
.footer-links {
	color: #FFFFFF;	
	text-decoration: none;
	font-size: 90%;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;	
}
.follow-imgs { height: 20px; }
.footer-back {
	position: absolute;
	left: 0;	
	background-color: #555555;
	z-index: -1;
	width: 100%;
	height: 300px;
}
.copy-rights {
	padding: 16px;
	color: #B2B2B2;
}
.footer-img-group-list {
	list-style-type: none;
}

.test-content {
	height: 500px;
}

.blue-print-links {	
	width: 100%;
	height: 180px;
}
.blue-print-blocks {
	float: left;
	position: relative;
	margin: 10px;
	margin-top: 30px;	
}
.blue-print-list-head-container, .blue-print-list-head {
	margin: 10px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-family: "Candara";
	text-decoration: none;
}
.blue-print-list {
	padding: 0;
	margin : 0;
	color: #FFFFFF;
	margin-left: 25px;	
	letter-spacing: 1px;
	font-weight: 200;
	font-family: "Candara";
	line-height: 20px;
}
.blue-print-list-items {
	color: #FFFFFF;
	text-decoration: none;
}

@media screen and (max-width: 1000px) {
	.main-body { width: 100vw; }
	.img-slider-container { height: 40vw; width: 100vw; }
	.img-back, .img-slider-imgs { height: 40vw; width: 100vw; position: absolute; }
	.nav-bar-container { display: none; }
	.mob-nav-bar-container { display: block; }
	.img-slider-arrows { padding: 1.5vw; top: 18vw; }
	.footer-back { width: 100vw; }
	.footer-container { height: 850px; }
	.footer-back { height: 850px;  }
	.blue-print-links { height: 580px; text-align: center; }
	.blue-print-blocks { position: static; float: none; }
	.blue-print-list { list-style-type: none; margin: 0; }
}
@media screen and (max-width: 600px) {
	.logo-name { 
		width: 83.333vw;
		margin: 2.5vw;
		margin-top: 6.167vw;
		margin-bottom: 6.167vw;
	}
	.header-container { height: calc(25vw + 100px); }
	.mob-nav-bar-items { margin-top: calc(25vw + 55px); }
	.footer-text { float: none; }	
	.footer-img-group { 
		float: none; 
		display: inline-block; 
		position: relative;
	}
	.footer-line { display: none; }
	.footer-list { text-align: center; }
	
}
/* Main block ends */